# Assignment for Data Science Intern

The goal here is to model an event which we deem to be an important stage in the customer experience/journey. Itâ€™s a rare event and thereby the modelling approaches are supposed to take that into account. 

You will share a modelling data set over which you are to train your model.
A testing data set, over which you are to show your performance output as shown below. 
Basically a precision-recall curve.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [4]:
df = pd.read_csv('Train_Set-Assignment.csv')
feats=df.columns[2:-1]
X = df[feats].values
y = df["Label"].values

In [5]:
df['Label'].value_counts()

0    113630
1      1076
Name: Label, dtype: int64

In [157]:
# EDA 
1) EDA - do df.corr, remove highly correlated features. 
2) remove outliers from columns 
3) check if null values present in features, remove them / replace by median
4) train - test split  , split by account id
5) create linear regression model

SyntaxError: invalid syntax (<ipython-input-157-c18d8b40e89a>, line 2)

In [6]:
df

,account_id,week_start_date,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,...,feature54,feature55,feature56,feature57,feature58,feature59,feature60,feature61,feature62,Label
0,100559.0,9/3/2018,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,101026.0,9/3/2018,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,101026.0,9/10/2018,0.0,0.0,86.666667,0.0,0.0,0.0,0.0,0.0,...,0.0,0.333333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,101026.0,9/17/2018,0.0,0.0,-0.076046,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,101026.0,9/24/2018,0.0,0.0,-0.987654,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114701,237574.0,3/30/2020,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
114702,238407.0,3/23/2020,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
114703,238407.0,3/30/2020,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
114704,102119.0,3/30/2020,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
114705,101817.0,3/30/2020,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [7]:
del df['week_start_date']

In [8]:
df

,account_id,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,...,feature54,feature55,feature56,feature57,feature58,feature59,feature60,feature61,feature62,Label
0,100559.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,101026.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,101026.0,0.0,0.0,86.666667,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.333333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,101026.0,0.0,0.0,-0.076046,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,101026.0,0.0,0.0,-0.987654,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114701,237574.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
114702,238407.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
114703,238407.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
114704,102119.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
114705,101817.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [9]:
y = df[['account_id', 'Label']]

In [10]:
corr_matrix = df.corr().abs()

# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

# Find features with correlation greater than 0.05
to_drop = [column for column in upper.columns if any(upper[column] > 0.05)]

# Drop features 
df.drop(to_drop, axis=1,inplace=True  )

In [11]:
df

,account_id,feature1,feature2,feature3,feature4,feature5,feature6,feature11,feature42
0,100559.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
1,101026.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
2,101026.0,0.0,0.0,86.666667,0.0,0.0,0.0,0.0,0.0
3,101026.0,0.0,0.0,-0.076046,0.0,0.0,0.0,0.0,0.0
4,101026.0,0.0,0.0,-0.987654,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
114701,237574.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
114702,238407.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
114703,238407.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
114704,102119.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
114705,101817.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0

In [12]:
df.isnull().sum()

account_id    0
feature1      0
feature2      0
feature3      0
feature4      0
feature5      0
feature6      0
feature11     0
feature42     0
dtype: int64

In [13]:
df.shape

(114706, 9)

In [14]:
feats.shape

(62,)

In [15]:
new = df.account_id

In [16]:
new.drop_duplicates(inplace=True)

In [17]:
new

0         100559.0
1         101026.0
85        103037.0
168       101307.0
251       104266.0
            ...
114700    187190.0
114701    237574.0
114702    238407.0
114704    102119.0
114705    101817.0
Name: account_id, Length: 2690, dtype: float64

In [18]:
from sklearn.model_selection import train_test_split

new_train, new_test = train_test_split(new, test_size=0.2)

In [19]:
new_train

109976    101500.0
10625     100723.0
105040    173731.0
61515     101187.0
86972     100773.0
            ...
113834    234416.0
110810    100179.0
86901     101522.0
80545     100123.0
114230    182522.0
Name: account_id, Length: 2152, dtype: float64

In [20]:
new_train = new_train.to_frame()

In [21]:
new_test = new_test.to_frame()

In [22]:
new_train_list = new_train["account_id"].tolist()
new_test_list = new_test['account_id'].tolist()

In [44]:
df_train = df['account_id'].isin(set(new_train_list))
df_train

0          True
1          True
85         True
168        True
251        True
          ...
114700     True
114701    False
114702    False
114704     True
114705     True
Name: account_id, Length: 2690, dtype: bool

In [45]:
df_test = df['account_id'].isin(set(new_test_list))
df_test

0         False
1         False
85        False
168       False
251       False
          ...
114700    False
114701     True
114702     True
114704    False
114705    False
Name: account_id, Length: 2690, dtype: bool

In [33]:
df_train = df_train.reset_index()
df_train

       index  account_id
0          0        True
1          1        True
2         85        True
3        168        True
4        251        True
...      ...         ...
2685  114700        True
2686  114701       False
2687  114702       False
2688  114704        True
2689  114705        True

[2690 rows x 2 columns]

In [34]:
del df_train['index']

In [35]:
df_train

      account_id
0           True
1           True
2           True
3           True
4           True
...          ...
2685        True
2686       False
2687       False
2688        True
2689        True

[2690 rows x 1 columns]

In [36]:
len(df_test)

2690

In [37]:
len(df_train)

2690

In [38]:
df_test

0         False
1         False
85        False
168       False
251       False
          ...
114700    False
114701     True
114702     True
114704    False
114705    False
Name: account_id, Length: 2690, dtype: bool

In [39]:

df_train

      account_id
0           True
1           True
2           True
3           True
4           True
...          ...
2685        True
2686       False
2687       False
2688        True
2689        True

[2690 rows x 1 columns]

In [40]:
y1 = pd.merge(new_train,y, on='account_id', how='inner')
y_train=y1.Label

In [41]:
y_train

0        0
1        0
2        0
3        0
4        0
        ..
92017    0
92018    0
92019    0
92020    0
92021    0
Name: Label, Length: 92022, dtype: int64

In [49]:
new_train

        account_id
109976    101500.0
10625     100723.0
105040    173731.0
61515     101187.0
86972     100773.0
...            ...
113834    234416.0
110810    100179.0
86901     101522.0
80545     100123.0
114230    182522.0

[2152 rows x 1 columns]

In [42]:
y2 = pd.merge(new_test,y, on='account_id', how='inner')
y_test = y2.Label

In [50]:
y_test

0        0
1        0
2        0
3        0
4        0
        ..
22679    0
22680    0
22681    0
22682    0
22683    0
Name: Label, Length: 22684, dtype: int64

In [51]:
df_train.shape

(2690,)

In [ ]:
#from sklearn.model_selection import train_test_split
#df_train, df_test, y_train, y_test = train_test_split(train.drop('Label',axis=1), train['Label'], test_size=0.20,random_state=101)

In [259]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(df_train, y1)
predictions = logmodel.predict(y2)

C:\Users\Abhishek\Anaconda 3\conda--meta\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

ValueError: Expected 2D array, got 1D array instead:
array=[0. 1. 1. ... 1. 0. 1.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [257]:
from sklearn.metrics import classification_report
print(classification_report(y_test,predictions))

NameError: name 'predictions' is not defined

In [258]:
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import plot_precision_recall_curve
import matplotlib.pyplot as plt

disp = plot_precision_recall_curve(classifier, X_test, y_test)
disp.ax_.set_title('2-class Precision-Recall curve: '
                   'AP={0:0.2f}'.format(average_precision))

ImportError: cannot import name 'plot_precision_recall_curve' from 'sklearn.metrics' (C:\Users\Abhishek\Anaconda 3\conda--meta\lib\site-packages\sklearn\metrics\__init__.py)